nav {
	color: white;
	background-color: #ffc629;
	display: flex;
	border-bottom: 5px solid black;
	border-radius: 5px;
	justify-content: space-evenly;
}
img {
	width: 80%;
}

ul {
	list-style-type: none;
}

h2 {
	color: black;
	margin: 20px;
}
a {
	text-decoration: none;
}

li {
	text-align: center;
	display: inline-block;
}
a:hover {
	cursor: pointer;
}

.logo-title {
	margin: 0;
	padding-right: 7rem;
}

.logo-graphic img {
	justify-content: center;
}
.bar {
	color: black;
	margin: 20px;
}

.nav-buttons {
	align-self: center;
}
