nav {
	color: white;
	background-color: #ffc629;
	display: flex;
	border-bottom: 5px solid black;
	border-radius: 5px;
	justify-content: space-evenly;
}

ul {
	list-style-type: none;
}

h2 {
	color: black;
	margin: 10px;
	font-size: 20px;
}
a {
	text-decoration: none;
}

.navigation-bar {
	text-align: center;
	display: inline-block;
}
a:hover {
	cursor: pointer;
}

.logo-title {
	margin: 0;
	padding-right: 15rem;
	width: 60%;
}

.logo-graphic {
	justify-content: center;
	width: 70%;
}

.bar {
	color: black;
	margin: 10px;
}

.nav-div {
	align-self: center;
	margin-right: 10px;
}
